<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="fanfareFinalPU" transaction-type="JTA">
    <jta-data-source>jdbc/jndi_fanfare</jta-data-source>
    <class>dao.AlbumEntity</class>
    <class>dao.CommentEntity</class>
    <class>dao.ExperienceEntity</class>
    <class>dao.FriendEntity</class>
    <class>dao.LocalisationEntity</class>
    <class>dao.MediaEntity</class>
    <class>dao.MediaTypeEntity</class>
    <class>dao.MessageEntity</class>
    <class>dao.MessageUserEntity</class>
    <class>dao.NewsEntity</class>
    <class>dao.NotificationEntity</class>
    <class>dao.PhotoEntity</class>
    <class>dao.PhysicalEntity</class>
    <class>dao.PostEntity</class>
    <class>dao.ProfileEntity</class>
    <class>dao.RecomendationEntity</class>
    <class>dao.UserEntity</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <!--<property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform" /> -->
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
